.chartline-field {
  background: #2f3242;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 18px;
  box-shadow: 3px 0 80px rgba(0, 0, 0, 0.2);
}

.chartline-holder {
  background: #2f3242;
  overflow: hidden;
}

.chartline {
  width: calc(100% + 60px) !important;
  margin-left: -60px;

  @include media("<tablet") {
    height: 400px !important;
  }

  @include media("<phone") {
    height: 300px !important;
    margin-left: -45px;
  }
}
