.chartline-field {
  background: #2f3242;
  max-width: 1255px;
  overflow: hidden;
  position: relative;
}

.chartline-holder {
  background: #2f3242;
  overflow: hidden;
  width: calc(100% + 100px) !important;
  margin-right: -50px;
  margin-top: 170px;
}

.chartline {
  width: calc(100% + 100px) !important;
  margin-left: -120px;

  @include media("<tablet") {
    width: calc(100% + 10px) !important;
    margin-left: -60px;
    height: 250px!important;
  }
}

.circles-holder {
  position: absolute;
  top: 37px;
  left: 35px;
  display: flex;
  color: #2196f3;
  z-index: 1;

  @include media("<tablet") {
    top: 5px;
    left: 5px;
  }

  .circle-wrap {
    width: 78px;
    height: 78px;
    background: #505464;
    border-radius: 50%;
    margin-right: 25px;

    @include media("<tablet") {
      margin-right: 0;
    }

    .mask,
    .fill {
      width: 78px;
      height: 78px;
      position: absolute;
      border-radius: 50%;
    }

    .mask {
      clip: rect(0px, 78px, 78px, 40px);
    }

    .fill {
      clip: rect(0px, 40px, 78px, 0px);
      background-color: #2196f3;
    }

    .inside-circle {
      width: 68px;
      height: 68px;
      border-radius: 50%;
      background: #2f3242;
      line-height: 68px;
      text-align: center;
      margin-top: 5px;
      margin-left: 5px;
      position: absolute;
      z-index: 100;
      font-size: 22px;
      color: #2196f3;
    }

    .p75 .mask.full,
    .p75 .fill {
      animation: fill-75 ease-in-out 0.9s;
      transform: rotate(140deg);
    }

    .p62 .mask.full,
    .p62 .fill {
      animation: fill-62 ease-in-out 0.9s;
      transform: rotate(120deg);
    }

    .p35 .mask.full,
    .p35 .fill {
      animation: fill-35 ease-in-out 0.9s;
      transform: rotate(60deg);
    }
  }

  .info {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #9ca1b2;
    text-transform: uppercase;
    margin-right: 82px;

    @include media("<desktop") {
      margin-right: 40px;
    }

    @include media("<tablet") {
      margin-right: 0px;
      flex-direction: column;
      align-items: center;
      min-width: 90px;
      font-size: 12px;
    }

    .numbers {
      @include media("<tablet") {
        margin-top: 10px;
        text-align: center;
      }

      span {
        font-size: 22px;
        font-weight: 700;
        color: #fff;
        display: block;

        @include media("<tablet") {
          font-size: 18px;
        }
      }
    }
  }
}
