.chartline-field {
  background: #2f3242;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 18px;
}

.chartline-holder {
  background: #2f3242;
  overflow: hidden;
}

.chartline {
  width: calc(100% + 60px) !important;
  margin-left: -60px;

  @include media("<tablet") {
    height: 300px!important;
    margin-left: -45px;
  }
}
