.circle {
  width: 79px;
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: top;
  margin-right: 24px;

  @include media("<tablet") {
    margin-right: 0;
  }

  canvas {
    width: 79px !important;
    height: 79px !important;
  }

  .progress {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    line-height: 22px;
    font-size: 22px;
    color: #2196f3;
  }
}

.circles-holder {
  top: 35px;
  left: 37px;
  position: absolute;
  display: flex;
  color: #2196f3;
  z-index: 1;

  @include media("<tablet") {
    margin: 0;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
  }

  .info {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #9ca1b2;
    text-transform: uppercase;
    margin-right: 83px;

    @include media("<widescreen") {
      margin-right: 60px;
    }

    @include media("<desktop") {
      margin-right: 40px;
    }

    @include media("<tablet") {
      margin-right: 5px;
      flex-direction: column;
      align-items: center;
      min-width: 90px;
      font-size: 12px;
    }

    .numbers {
      @include media("<tablet") {
        margin-top: 10px;
        text-align: center;
      }

      span {
        font-size: 22px;
        font-weight: 700;
        color: #fff;
        display: block;

        @include media("<tablet") {
          font-size: 18px;
        }
      }
    }
  }
}
