.content {
  &-board {
    margin: 95px 0 0 95px;
    padding: 66px 15px 22px 60px;
    background: #2b2d3c;
    overflow: visible;
    display: flex;
    justify-content: space-between;

    @include media("<1500px") {
      flex-direction: column;
    }

    @include media("<desktop") {
      margin: 147px 0 0 0;
      padding: 40px 15px 22px 15px;
    }

    @include media("<tablet") {
      margin: 126px 0 0 0;
      padding: 15px;
    }
  }

  &-column {
    display: flex;
    justify-content: space-between;

    &.left {
      width: 73%;
      flex-wrap: wrap;

      @include media("<1500px") {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    &.right {
      width: 25.5%;
      flex-direction: column;

      @include media("<1500px") {
        width: 100%;
        flex-direction: row;
      }

      @include media("<tablet") {
        flex-direction: column;
      }
    }
  }
}
