.content-board {
  margin: 160px 15px 22px 160px;
  background: #2b2d3c;
  overflow: visible;
  display: flex;
  justify-content: space-between;

  @include media("<1500px") {
    flex-direction: column;
  }

  @include media("<desktop") {
    margin: 200px 15px 0;
  }

  @include media("<tablet") {
    margin: 170px 15px 0;
  }
}

.left {
  width: 73%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include media("<1500px") {
    width: 100%;
  }  
}

.right {
  width: 25.5%;
}

