.content-board {
  margin: 160px 15px 22px 160px;
  background: #2b2d3c;
  overflow: visible;

  @include media("<desktop") {
    margin: 200px 15px 0;
  }

  @include media("<tablet") {
    margin: 170px 15px 0;
  }
}

.row-top {
  margin-bottom: 18px;
}
