.inbox {
    background: #3a3e52;
    width: 36%;
    max-height: 410px;
    overflow: hidden;
     

    .header-wrap {
        padding: 33px 0;
        text-align: center;
    }

    .message-wrap {
        overflow: auto;
        max-height: 330px;
    }

    .h2 {
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 0;

        span {
            color: #2196f3;
        }
    }
}