.inbox {
  background: #3a3e52;
  width: 35%;
  max-height: 410px;
  overflow: hidden;

  @include media("<desktop") {
    width: 100%;
  }

  .header-wrap {
    padding: 33px 0;
    text-align: center;

    @include media("<tablet") {
      padding: 20px 0;
    }
  }

  .message-wrap {
    overflow: auto;
    max-height: 320px;

    @include media("<tablet") {
      max-height: 300px;
    }
  }

  .h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;

    span {
      color: #2196f3;
    }
  }
}
