.project-box {
  background: #3a3e52;
  max-height: 480px;
  overflow: auto;

  .header-wrap {
    padding: 33px 0;
    text-align: center;
  }

  .h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
  }

  .project-card {
    background: #2e3140;
    padding: 24px 23px;
  }

  a + a {
    border-top: 1px solid #505464;
    display: block;
  }
}
