.project-card {
  color: #9ea3b4;
  font-size: 14px;
  letter-spacing: 0.02em;
  position: relative;
  display: flex;

  .img-wrap {
    margin-right: 24px;

    img {
      border-radius: 50%;
    }
  }

  .h3 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .project-mail {
    color: #9ea3b4;
    margin-right: 27px;
  }

  .project-value {
    position: relative;

    &:after {
      display: block;
      content: "";
      height: 4px;
      width: 4px;
      background-color: #9ea3b4;
      border-radius: 50%;
      position: absolute;
      top: 7px;
      left: -15px;
    }
  }

  .project-menu {
    height: 30px;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    .dot {
      display: block;
      content: "";
      height: 4px;
      width: 4px;
      background-color: #9ea3b4;
      border-radius: 50%;
      position: relative;

      &:before,
      &:after {
        display: block;
        content: "";
        height: 4px;
        width: 4px;
        background-color: #9ea3b4;
        border-radius: 50%;
        position: absolute;
      }

      &:before {
        top: 6px;
      }

      &:after {
        bottom: 6px;
      }
    }
  }
}

.ui-sortable-handle:hover {
  .project-card {
    box-shadow: 3px 0 50px rgba(0, 0, 0, 0.2);
  }
}

.sortable-placeholder {
  min-height: 92px;
  width: 100%;
  border-radius: 5px;
  border: 1px dashed #9ea3b4;
}
