.project-bar {
  position: fixed;
  top: 94px;
  width: 100%;
  padding: 27px 10px 27px 158px;
  display: flex;
  justify-content: space-between;
  background: #237fcb;
  z-index: 2;

  @include media("<desktop") {
    padding: 15px;
    top: 147px;
  }

  @include media("<tablet") {
    padding: 15px;
    top: 124px;
  }

  .title-box {
    display: flex;
    align-items: center;

    .h2 {
      font-size: 18px;
      letter-spacing: 0.02em;
      margin-bottom: 0;

      @include media("<tablet") {
        font-size: 16px;
      }

      &:nth-child(2) {
        color: #fff;
        margin-left: 43px;

        @include media("<tablet") {
          display: none;
        }
      }
    }
  }

  .projects-sort {
    display: flex;
    align-items: center;

    .h3 {
      font-size: 16px;
      letter-spacing: 0.02em;
      color: #fff;
      margin-right: 27px;
      margin-bottom: 0;

      @include media("<tablet") {
        display: none;
      }
    }

    .styled-select {
      height: 40px;
      min-width: 158px;
      border: 1px solid #fff;
      border-radius: 50px;
      position: relative;

      @include media("<tablet") {
        height: 35px;
        min-width: 130px;
      }

      i {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 25px;
        color: #fff;
        pointer-events: none;

        @include media("<tablet") {
          right: 5px;
        }
      }

      select {
        border: 0;
        color: #eee;
        background: transparent;
        font-size: 16px;
        padding: 5px 25px;
        width: 100%;
        height: 100%;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;

        &:-moz-focusring {
          color: transparent;
          text-shadow: 0 0 0 #fff;
        }

        @include media("<tablet") {
          padding: 0px 30px 0 15px;
        }
      }
    }
  }
}
