.project-board {
  margin: 188px 0 0 157px;
  padding: 60px 15px 0 0;
  background: #2b2d3c;
  overflow: visible;
  height: calc(100vh - 218px);

  @include media("<desktop") {
    margin: 218px 0 0 0;
    padding: 40px 15px 0;
    height: calc(100vh - 247px);
  }

  @include media("<tablet") {
    margin-top: 190px;
    padding: 15px 15px 0;
    height: calc(100vh - 220px);
  }

  .project-card {
    background: #3a3e52;
    max-width: 291px;
    padding: 26px 24px 23px;
    margin: 23px 0;
    border-radius: 5px;
  }
}

.board-inner {
  display: flex;
  overflow: auto;
  height: 100%;
}

.project-sort {
  margin-right: 22px;
}

.ui-sortable {
  min-height: 94px;
}

.visible-scrollbar,
.invisible-scrollbar,
.customized-scrollbar {
  display: block;
  overflow: auto;
}

.customized-scrollbar::-webkit-scrollbar {
  height: 14px;
  border-radius: 10px;
  background-color: #4e5160;
}

.customized-scrollbar::-webkit-scrollbar-thumb {
  background: #2196f3;
  -webkit-width: 5px;
  width: 5px;
  border-radius: 10px;
}
