.project-box {
  background: #3a3e52;
  height: 478px;
  overflow: hidden;
  box-shadow: 3px 0 80px rgba(0, 0, 0, 0.2);

  @include media("<1500px") {
    width: 53%;
  }

  @include media("<desktop") {
    height: 390px;
  }

  @include media("<tablet") {
    width: 100%;
    margin-bottom: 20px;
  }

  .header-wrap {
    padding: 33px 0;
    text-align: center;

    @include media("<tablet") {
      padding: 20px 0;
    }
  }

  .project-wrap {
    overflow: auto;
    max-height: 390px;

    @include media("<tablet") {
      max-height: 325px;
    }
  }

  .h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
  }

  .project-card {
    background: #2e3140;
    padding: 25px 23px 23px;
  }

  .project-card + .project-card {
    border-top: 1px solid #505464;
  }
}
